@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
         url('../fonts/barlow-v12-latin-600.woff2') format('woff2'),
         url('../fonts/barlow-v12-latin-600.woff') format('woff');
  }