.footer-title {
  background-color: #90D4C6;
  padding: 72px 0;
  text-align: center;
}

.footer-inner {

}

.footer-pic {
  margin-bottom: 40px;
}

.footer-inner--in {
  margin-bottom: 88px;
}

.footer-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #458D7E;
  margin-right: 57px;
}

.footer-link--in {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
  color: #458D7E;
}

.footer-link:active {
  color: #fff;
}

.footer-pic--in {
  fill: #2C7566;
  margin-right: 28px;
}

.footer-pic--in:active {
  fill: #fff;
}

.footer-pic--in__go {
  fill: #2C7566;
}

.footer-pic--in__go:active {
  fill: #fff;
}