.header {
    padding: 34px 0;
    background-color: #49BCF1;
}
.header__inner {
    display: flex;
    align-items: center;
}
.logo-link {
    text-decoration: none;
}
.menu {
    margin-left: auto;
}
.menu__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
.menu__item + .menu__item {
    margin-left: 47px;
}
.menu__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #FFFFFF;
    text-decoration: none;
    &--con {
        display: inline-block;
        padding: 16px 32px;
        font-family: 'Fraunces';
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.107143px;
        color: #24303E;
        background: #FFFFFF;
        border-radius: 28px;
    }
}