.main-title {
  text-align: center;
  margin-bottom: 80px;
}

.main-title--in {
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 5px;
  color: #A7AAAD;
  margin: 0;
}

.main-item {
  margin: 0 0 140px 0;
  padding: 0;
  list-style: none;


  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-item--in {
  text-align: center;
  margin-bottom: 50px;
}

.main-title--pic {
  margin-bottom: 58px;
} 

.main-sitate {
  max-width: 350px;
  margin: 0 0 70px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #5B636D;
}

.main-person {
  margin: 0 0 9px 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.main-person--in {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: #A7AAAD;
}


@media only screen and (max-width:1200px) {
  
  .main-item {
    flex-direction: column;
  }
  
}